<div class="route-blog-post-index">

  <Block::Header/>

  <div class="post">
    <div class="header">
      <div class="title">{{@model.title}}</div>
      <div class="date">{{@model.date}}</div>
    </div>
    <Block::Remark class="content" @content={{@model.tree.content}}/>
  </div>

</div>