<div class="route-blog-post-index">

  <Block::Header/>

  <div class="post">
    <div class="header">
      <div class="title">{{@model.title}}</div>
      <div class="date">{{dt @model.datetime}}</div>
      {{#if @model.notes}}
        <div class="notes">
          {{#each @model.notes as |note|}}
            <div class="note">{{note}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>
    <Block::Remark class="content" @tree={{@model.tree}}/>
  </div>

  <div class="footer">
    <div class="row">Thanks for reading</div>
    <div class="row">
      Wanna <a href="mailto:ampatspell@gmail.com" target="top">say hi</a>?
    </div>
  </div>

</div>