.route-galleries-gallery-index {
  > .gallery {
    margin-top: 1px;
    > .header {
      padding: 25px 50px;
      > .title {
        font-size: 28px;
        font-weight: 600;
        @include mobile() {
          font-size: 18px;
        }
      }
      @include mobile() {
        padding: 20px;
      }
    }
    > .content {
      padding: 25px 0 0 0;
    }
  }
  > .placeholder {
    padding: 25px 50px;
    @include mobile() {
      padding: 20px;
    }
  }
}
