.remark {
  @import "hljs/index";
  @mixin header-code() {
    > code {
      font-family: $font-code;
      display: inline-block;
      font-size: 14px;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 21px;
    @include header-code();
    margin: 50px 0 25px 0;
  }
  h2 {
    font-weight: 400;
    font-size: 18px;
    @include header-code();
    margin: 50px 0 25px 0;
  }
  h3 {
    font-weight: 400;
    font-size: 17px;
    @include header-code();
  }
  h1, h2, h3 {
    @include print() {
      page-break-inside: avoid;
      &:after {
        content: '';
        display: block;
        height: 100px;
        margin-bottom: -100px;
      }
    }
  }
  blockquote {
    margin: 0;
    border-left: 2px solid #ddd;
    padding: 0 0 0 10px;
  }
  li {
    padding: 0 0 5px 0;
    > p {
      margin: 0;
    }
    > ul {
      padding: 5px 0 0 10px;
    }
    &:last-child {
      padding: 0;
    }
  }
  code {
    font-family: $font-code;
    display: inline-block;
    font-weight: 600;
  }
  pre {
    @include print() {
      page-break-inside: avoid;
    }
  }
  pre code {
    font-weight: 400;
  }
  span.component {
    display: inline-block;
  }
  .remark-note {
    background: fade-out(#4271ae, 0.95);
    border: 1px solid fade-out(#000, 0.93);
    border-radius: 3px;
    margin: 50px 0;
    > .label {
      font-weight: 600;
      margin-bottom: 5px;
      padding: 5px 10px;
      background: fade-out(#4271ae, 0.95);
      border-bottom: 1px solid fade-out(#000, 0.93);
    }
    > .content {
      padding: 10px 10px;
    }
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
