<div class="block-header" ...attributes>
  <div class="logo">
    <LinkTo @route="index">amateurinmotion</LinkTo>
  </div>
  <div class="links">
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="mentorship">Mentorship</LinkTo>
    <LinkTo @route="projects">Projects</LinkTo>
    <LinkTo @route="blog">Blog</LinkTo>
  </div>
</div>