.block-header {
  padding: 25px 50px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  overflow: hidden;
  > .logo {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    > a {
      text-decoration: none;
    }
  }
  > .links {
    display: flex;
    flex-direction: row;
    > a {
      display: block;
      margin-right: 25px;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
      @include mobile() {
        margin-right: 15px;
      }
    }
    @include print() {
      display: none;
    }
  }
  @include mobile() {
    padding: 20px;
    flex-direction: column;
    > .logo {
      font-size: $font-size;
      margin-bottom: 5px;
    }
  }
  @include print() {
    padding: 0 0 20px 0;
  }
}
