<div class="block-header">
  <LinkTo class="logo" @route="index">amateurinmotion</LinkTo>
  <div class="links">
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="projects">Projects</LinkTo>
    <LinkTo @route="blog">Blog</LinkTo>
  </div>
</div>