<div class="block-header">
  <div class="logo">amateurinmotion</div>
  <div class="links">
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="projects">Projects</LinkTo>
    <LinkTo @route="blog">Blog</LinkTo>
  </div>
</div>