.block-header {
  padding: 25px 50px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  > .logo {
    flex: 1;
    > a {
      text-decoration: none;
    }
  }
  > .links {
    display: flex;
    flex-direction: row;
    > a {
      display: block;
      margin-left: 25px;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
      @include mobile() {
        margin-left: 15px;
      }
    }
    @include print() {
      display: none;
    }
  }
  @include mobile() {
    padding: 20px;
  }
  @include print() {
    padding: 0 0 20px 0;
  }
}
