.block-rows {
  > .row {
    $c: fade-out(#000, 0.95);
    border-top: 1px solid transparent;
    border-bottom: 1px solid $c;
    &:last-child {
      border-bottom-color: transparent;
    }
    > a {
      display: block;
      text-decoration: none;
      padding: 25px 50px;
      @include mobile() {
        padding: 20px;
      }
      > .title {
        font-weight: 600;
        font-size: 28px;
        @include mobile() {
          font-size: 18px;
        }
        position: relative;
        > .marker {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 11px;
          font-weight: normal;
        }
      }
      > .content {
        margin: 15px 0 5px 0;
      }
    }
    transition:
      0.3s ease-in-out background-color,
      0.3s ease-in-out border-color;
    &:hover {
      background: fade-out(#000, 0.97);
      &:first-child {
        border-top-color: $c;
      }
      &:last-child {
        border-bottom-color: $c;
      }
    }
  }
}
