.route-elza {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  > .content {
    > .icon {
      background: none no-repeat center center / contain;
      $s: 32px;
      width: $s;
      height: $s;
      transition: all 0.15s ease-in-out;
      opacity: 1;
      &:hover {
        opacity: 0.6;
      }
      &.play {
        background-image: url('https://api.iconify.design/bi/play-circle.svg');
      }
      &.stop {
        background-image: url('https://api.iconify.design/bi/stop-circle.svg?color=white');
      }
    }
  }
  &.playing {
    background: #000;
  }
}
