<div class="route-blog-index">

  <Block::Header/>

  <Block::Rows @models={{@model.posts}} as |post|>
    <LinkTo @route="blog.post" @model={{post.slug}}>
      <div class="title">
        {{post.title}}
        {{#if post.isHidden}}
          <div class="marker">[WIP]</div>
        {{/if}}
      </div>
      <div class="intro">{{post.intro}}</div>
    </LinkTo>
  </Block::Rows>

</div>