<div class="route-index">

  <div class="editor">
    <textarea class="textarea" value={{this.content}} {{on 'input' this.onInput}}/>
  </div>

  <Block::Remark class="preview"
    @content={{this.content}}
    @onPreprocess={{this.onPreprocess}}
  />

</div>
