<div class="route-galleries-index">

  <Block::Header/>

  <Block::Rows @models={{@model.all}} as |gallery|>
    <LinkTo @route="galleries.gallery" @model={{gallery.slug}}>
      <div class="title">{{or gallery.title gallery.slug}}</div>
      <div class="date">{{dt gallery.datetime}}</div>
    </LinkTo>
  </Block::Rows>

</div>