<div class="remark-blog-counter">
  <div class="action">
    <input type="button" value="Click" {{on "click" this.onClick}}/>
  </div>
  <div class="details">
    <div class="text">{{@model.text}}</div>
    <div class="value">{{this.value}}!</div>
  </div>
</div>