<div class="remark-gallery-generate">
  <div class="line">
    {{'<Gallery>'}}
  </div>
  <div class="nest">
    {{#each @model.gallery.images as |image|}}
      <div class="line">
        {{concat image.filename ' ' image.label}}
      </div>
    {{/each}}
  </div>
  <div class="line">
    {{'</Gallery>'}}
  </div>
</div>
