.remark-gallery-image {
  height: 100vh;
  display: flex;
  flex-direction: column;
  > .content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .image {
      flex: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    > .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 11px;
    }
    @include mobile() {
      padding: 0 0 10px 0;
    }
  }
  opacity: 0;
  transition: 0.4s ease-in-out opacity;
  &.done {
    opacity: 1;
  }
  position: relative;
  > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    > .icon {
      $s: 50px;
      width: $s;
      height: $s;
      opacity: 0.5;
    }
    &.top {
      top: 0;
      left: 100px;
      width: inherit;
      right: 100px;
      height: 100px;
      > .icon {
        background: url('https://api.iconify.design/fa6-solid/chevron-up.svg?color=white') no-repeat center center / contain;
      }
    }
    &.left {
      left: 0;
      > .icon {
        background: url('https://api.iconify.design/fa6-solid/chevron-left.svg?color=black') no-repeat center center / contain;
      }
    }
    &.right {
      right: 0;
      > .icon {
        background: url('https://api.iconify.design/fa6-solid/chevron-right.svg?color=black') no-repeat center center / contain;
      }
    }
    opacity: 0;
    transition: 0.15s ease-in-out opacity;
    &:hover {
      opacity: 1;
    }
  }
}
