<div class="route-pages-page-index">

  <Block::Header/>

  <div class="page">
    <div class="header">
      <div class="title">{{widow @model.title}}</div>
      {{#if @model.date}}
        <div class="date">{{@model.date}}</div>
      {{/if}}
    </div>
    <Block::Remark class="content" @tree={{@model.tree}}/>
  </div>

</div>