<div class="route-tools-clock">

    <Block::Header/>

    <div class="content">
      <div class="box">
        <div class="value">
          {{this.string}}
        </div>
        <div class="description">
          <p>Earth is {{this.description.earth}} years old.</p>
          <p>Humans (Homo sapiens) first appeared {{this.description.humans}} years ago.</p>
          <p>
            Imagine that if 12 hours are equal to earth’s history,
            humans are there only about {{this.description.seconds}} seconds.
          </p>
        </div>
      </div>
    </div>

</div>