<div class="route-index-welcome">
  <div class="top">
    <Block::Header/>
  </div>
  <div class="bottom">
    <div class="name">Arnis Vuskans</div>
    <div class="occupation">Freelance Ember.js & Firebase developer and tutor.</div>
  </div>
</div>