<Block::Page @type="dark">
  <div class="route-index-welcome" style={{this.style}}>
    <div class="header">
      <Block::Header/>
    </div>
    <Block::Remark class="content" @content={{@hello.tree.content}}/>
  </div>
</Block::Page>
