.route-index-welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  > .header {
    flex: 1;
  }
  > .content {
    padding: 50px;
    font-size: 18px;
    max-width: 800px;
    ul {
      padding: 0;
    }
    li {
      display: block;
      padding: 0;
    }
    @include mobile() {
      padding: 20px;
    }
  }
}
