<Block::Page @type="dark">
  <div class="route-index-welcome">
    <Block::Header class="header"/>
    <Block::Remark class="content" @content={{@hello.body}} @onPreprocess={{this.onPreprocess}}/>
  </div>
</Block::Page>
