<Block::Page @type="dark">
  <Block::Background class="background">
    <div class="route-index-welcome">
      <div class="header">
        <Block::Header/>
      </div>
      <Block::Remark class="content" @tree={{@hello.tree}}/>
    </div>
  </Block::Background>
</Block::Page>
